/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'CELLRANGER_MKREF' {
        time = '48.h'
        publishDir = [
            path: { "${params.outdir}/cellranger" },
            mode: params.publish_dir_mode,
            saveAs: { f -> f == 'versions.yml' ? null : f.replace("$reference_name", "${reference_name}_cellranger") }
        ]
    }

    withName: 'CELLRANGER_MKVDJREF' {
        time = '48.h'
        publishDir = [
            path: { "${params.outdir}/cellranger_vdj" },
            mode: params.publish_dir_mode,
            saveAs: { f -> f == 'versions.yml' ? null : f.replace("$reference_name", "${reference_name}_cellranger_vdj") }
        ]
    }

    withName: 'CELLRANGERATAC_MKREF' {
        time = '48.h'
        publishDir = [
            path: { "${params.outdir}/cellranger_atac" },
            mode: params.publish_dir_mode,
            saveAs: { f -> f == 'versions.yml' ? null : f.replace("$reference_name", "${reference_name}_cellranger_atac") }
        ]
    }

    withName: 'SPACERANGER_MKREF' {
        time = '48.h'
        publishDir = [
            path: { "${params.outdir}/spaceranger" },
            mode: params.publish_dir_mode,
            saveAs: { f -> f == 'versions.yml' ? null : f.replace("$reference_name", "${reference_name}_spaceranger") }
        ]
    }
}
