/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nfdata-omics/genomeprep -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '10.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    fasta = params.pipelines_testdata_base_path + 'chr21_subset.fa'
    gtf = params.pipelines_testdata_base_path + 'chr21.gtf'
    transcripts_fasta = params.pipelines_testdata_base_path + 'Homo_sapiens.GRCh38.cdna.abinitio.fa.gz'
    organism = 'Human'
    genome_version_name = 'GRCh38_chr19'
    fasta_readme = params.pipelines_testdata_base_path + 'fasta.md'
    gtf_readme = params.pipelines_testdata_base_path + 'gtf.md'
}
